<html>
    <body>
        <strong> <%=session.title%> </strong><br><br>
        <strong> <%=session.speaker.name%> </strong><br><br>
        Speaker Bio: <%=session.speaker.bio%> <br><br>
        <%=session.description%> <br>
    </body>
</html>

